name: Deploy to Lightsail

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.LIGHTSAIL_FACE_PROJECT_SERVER_HOST_IP }}
          username: ubuntu
          key: ${{ secrets.LIGHTSAIL_SSH_KEY }}
          port: 22
          script: |
            cd ~/Face-based-Photo-Segregation
            git reset --hard HEAD
            git clean -fd
            git pull origin main
            source venv/bin/activate
            pip install -r requirements.txt
            sudo apt install sqlite3 -y
            sqlite3 faces.db "CREATE TABLE IF NOT EXISTS people (id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT NOT NULL UNIQUE);"
            sqlite3 faces.db "ALTER TABLE faces ADD COLUMN person_id INTEGER REFERENCES people(id);" || true
            sudo systemctl restart faceapp
